* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #0000ee;
}

header {
  width: 100%;
  text-align: center;
}

header .heading {
  padding: 20px 0;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav-list-item {
  display: inline-block;
  padding: 0 20px;
}


.main {
  height: 700px;
  display: flex;
 justify-content: center; 
 align-items: center;
}

.main-item {
  width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.main-item-content1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.main-item-content2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.main-item-content3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.main-item-content4 {
  width: 200px;
  height: 200px;
  background-color: #93ffad
}

.main-item-content5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.main-item-content6 {
  width: 200px;
  height: 200px;
   background-color: #edffbd;
}

.main-item-content7 {
  width: 200px;
  height: 200px;
   background-color: #e9ffa5;
}

.main-item-content8 {
  width: 200px;
  height: 200px;
   background-color: #e4ff8d;
}

.main-item-content9 {
  width: 200px;
  height: 200px;
   background-color: #d9e5ff;
}

.main-item-content10 {
  width: 200px;
  height: 200px;
   background-color: #bad3ff;
}

.main-item-content11 {
  width: 200px;
  height: 200px;
   background-color: #a4c6ff;
}

.main-item-content12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  background-color: gray;
  text-align: center
}

footer p {
  color: white;
  line-height: 120px;
}